<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="canGoBack">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-setup.heading' | translate }}</h1>

  <ion-button color="primary" shape="round" class="ion-margin-top" (click)="goToGenerate()">
    <ion-icon slot="start" src="assets/icons/md-edit.svg"></ion-icon>
    {{ 'secret-setup.generate.label' | translate }}
  </ion-button>
  <p class="ion-padding-bottom">{{ 'secret-setup.generate.text' | translate }}</p>
</ion-content>
