<!-- <ion-header class="ion-no-border"></ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-setup.heading' | translate }}</h1>

  <p class="ion-padding-bottom">{{ 'secret-setup.text' | translate }}</p>

  <ion-button color="primary" shape="round" class="ion-margin-top" (click)="goToGenerate()">
    <ion-icon slot="start" src="assets/icons/md-edit.svg"></ion-icon>
    {{ 'secret-setup.generate.label' | translate }}
  </ion-button>
  <p class="ion-padding-bottom">{{ 'secret-setup.generate.text' | translate }}</p>
</ion-content> -->
