<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>{{ 'secret-setup.heading' | translate }}</h1>

  <p class="ion-padding-bottom">{{ 'secret-setup.text' | translate }}</p>

  <ion-button color="primary" shape="round" class="ion-margin-top" (click)="syncProvotum()">
    <ion-icon slot="start" src="assets/icons/md-edit.svg"></ion-icon>
    SYNC KEYGEN
  </ion-button>
  <p class="ion-padding-bottom">{{ 'secret-setup.generate.text' | translate }}</p>
</ion-content> -->

<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>{{ 'tab-wallets.title' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <airgap-current-secret></airgap-current-secret>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/img/keygen_vault.png" />
    <ion-card-header>
      <ion-card-subtitle>
        <!-- <ion-text color="primary">Public Key Share</ion-text> -->
      </ion-card-subtitle>
      <ion-card-title>
        <ion-text color="secondary">Public Key Share</ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content no-lines>
      <ion-text color="secondary">
        <h2>
          To participate in the distributed key generation, each sealer is required to upload the public key share including the key
          generation proof to the Public Bulletin Board.
        </h2>
      </ion-text>
      <ion-item *ngIf="!(busy$ | async)" lines="none">
        <ion-button shape="round" size="small" color="tertiary" slot="end" (click)="syncProvotum()">SYNC</ion-button>
      </ion-item>
      <ion-item *ngIf="busy$ | async; then loading" lines="none">
        <ion-button shape="round" size="small" color="tertiary" slot="end" (click)="syncProvotum()">SYNC</ion-button>
      </ion-item>
    </ion-card-content>

    <ng-template #loading>
      <ion-item>
        <ion-spinner slot="end"></ion-spinner>
      </ion-item>
    </ng-template>
  </ion-card>
</ion-content>
